

/* change box model and font */
* {
    box-sizing: border-box;
    font-family: monospace, sans-serif, serif;
}

/* show element borders */
div#inputBody, div#header {

    border:2px solid black;
    border-radius: 5px;

}

/* dimensions (height, width) */
div#inputBody {

    height: 180px;
    width: 500px;
}

/* center container div and text content */
div#inputBody, div#picFrame, div#description {

    margin: 25px auto;
    text-align: center;
}


/* change to block-level elements */
/* center elements inside of container div */
input, button {

    display: block;
    margin: 10px auto;
}